<div class="row">
	<aside class="col-md-3">
		<h3>Coming Soon</h3>
		<p>Stay tuned for new JS examples and proof-of-concept code.</p>
	</aside>
	<section class="main col-md-9">
		<article>
			<h2>Welcome</h2>
			<p>This web application is an employee information system. New user must register for a new account and then login to the system. After they login suscessfully, they are allowed to view the information of employees and departments. In addition, they are also able to delete, update, create those information. Moreover, the users can also view their profile and update it including their passwords. <strong>In order to improve this web app, all the guests are welcome to leave comments to help me make this system better.</strong></p>
			<p>This is a dynamic web application. It is built using Node.js and an MVC Framework - Express. All the data is stored in database - PostgreSQL and MongoDB. A template engine - handlebars.js is also applied in the web app. For the client side, the Bootstrap and jQuery are also used. In order to increase the user experience, AJAX is implemented using jQuery. And the states, like cookies and sessions, are managed using client-sessions.js. All the passwords are encrypted before they are stored in the database.</p>
			<p>To finish this project, I divided it into 8 assignments:</p>
			<ul>
				<li>Setup the environment, tooling, and a Heroku account (Visual Studio Code + Git + Heroku).</li>
				<li>Create multiple routes that serve specific HTML pages, styled using CSS.</li>
				<li>Extend the app to listen on a number of additional routes and explore JavaScript’s concepts: objects, callbacks, closures, promises, JSON.</li>
				<li>Practice working with Handlebars.js as a templating engine and handling POST routes / processing POST data from our server.</li>
				<li>Connect to a provisioned PostgreSQL on Heroku cloud platform and manipulate the data.</li>
				<li>Work with a NoSQL database hosted in the Mongo Lab cloud service.</li>
				<li>Work with Client Sessions and data persistence to add user registration and Login/Logout functionality.</li>
				<li>Enable users to update their profile using AJAX in a modal window and harden our app by using one-way password encryption with bcrypt.</li>
			</ul>
		</article>
	</section>
</div>